.Results
.loading-results,
.Results
.no-results{
    text-align: center;
}

.Results
.center-block {
    float: none;
    text-align: center;
}

.Results
.gallery-bottom {
    padding: 50px;
}

.Results
.gallery-bottom
button {
    padding: 20px 80px;
}
