<div class="Item container">
    <hr>
    <template v-if="item">
        <div class="row row-margin-bottom">
            <div class="no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-4 no-pad">
                            <img class="lib-img-show" :src="'http://museums.bristol.gov.uk/multimedia/entry.php?request=resource&width=400&format=jpeg&irn='+item.media_id">
                        </div>
                        <div class="col-md-8">
                            <div class="lib-row lib-header">
                                {{item.title}}
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc" v-if="item.description">
                                <span>Description</span>
                                {{item.description}}
                            </div>
                            <div class="lib-row lib-desc" v-if="item.subjects">
                                <span>Subjects</span>
                                {{item.subjects}}
                            </div>
                            <div class="lib-row lib-desc" v-if="item.department">
                                <span>Department</span>
                                {{item.department}}
                            </div>
                            <div class="lib-row lib-desc" v-if="item.notes">
                                <span>Notes</span>
                                {{item.notes}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-4">
            <h3>
                Tags
            </h3>
            <div class="tags">
                <template v-for="tag in item.tags">
                    <router-link :to="tag_url(tag.tag_name)" class="primary">{{tag.tag_name}}</router-link>
                </template>
            </div>
        </div>

        <!-- <a href="" class="btn btn-lg btn-primary"><span class=""></span> Edit</a> -->
        <a download :href="'http://museums.bristol.gov.uk/multimedia/entry.php?request=resource&width=400&irn='+item.media_id" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-cloud-download"></span Download</a>
    </template>

    <div class="loading-item" v-else>
        <h3>Loading...</h3>
    </div>
</div>
